{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
] %}
<div class="container">
  <div class="row mb-5">
    <div class="col">
      {% if content.order_summary is not empty  %}
        {{ content.order_summary }}
        {{ content.stripe_checkout_form }}
      {% else %}
        <p>Your cart is empty</p>
      {% endif %}
    </div>
  </div>
</div>
